<template>
  <!----- IS LOADED : DISPLAY CLUBS ----->
  <section class="container" v-if="isLoaded">
    <message v-for="message of messages" :key="message.id"
             :message="message"
             class="mb-3"
    ></message>
  </section>
  <!----- NOT YET LOADED ----->
  <section class="container" v-else>
    <message-skeleton></message-skeleton>
    <message-skeleton></message-skeleton>
    <message-skeleton></message-skeleton>
    <message-skeleton></message-skeleton>
    <br />
  </section>
</template>

<script>
import Message from "@/components/messages/Message";
import MessageSkeleton from "@/components/messages/MessageSkeleton";

import utils_network from "@/utils/utils_network";

export default {
	name: 'MessageList',
	components: { Message, MessageSkeleton },
  props: {
    groupId: Number,
    messageType: String
  },
  data() {
    return {
      isLoaded: false,
      messages: []
    }
  },
  created() {
    utils_network.apiGet(`/messages/bygroup/${this.groupId}/${this.messageType}`).then(messages => {
      this.isLoaded = true;
      this.messages = messages;
    });
  }
}
</script>
