<template>
  <article :class="'message ' + color">
    <div class="message-body p-3">
      <div class="level m-0">
        <div class="level-left">
          <p class="discrete">
            <strong><clickeable-student-name
                :student-id="message.studentId"
                :student-first-name="message.studentFirstName"
                :student-last-name="message.studentLastName"
            ></clickeable-student-name></strong>
          </p>
        </div>
        <div class="level-right" style="display: block">
          <p class="discrete">{{ formattedDate }}</p>
        </div>
      </div>
      <div class="content">
        <div v-html="messageMarkdown"></div>
        <div class="level mt-3">
          <div class="level-left">
            <b-icon :pack="hasUserLiked ? 'fas' : 'far'" icon="thumbs-up"
                    :style="$store.state.user ? 'cursor: pointer;' : ''"
                    @click.native="toggleLike()"
            ></b-icon>
            {{ likes.length }}
          </div>
          <div class="level-right" style="display: block">
            <b-tooltip label="Report comment" class="is-pulled-right" position="is-left" style="cursor: pointer;">
              <b-icon size="is-small" pack="far" icon="flag" @click.native="onReport"></b-icon>
            </b-tooltip>
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
import utils_misc from "@/utils/utils_misc";
import utils_collection from "@/utils/utils_collection";
import utils_network from "@/utils/utils_network";
import ClickeableStudentName from "@/components/account/ClickeableStudentName";

export default {
	name: 'Message',
  components: {ClickeableStudentName},
  props: {
    message: Object
  },
  data() {
    return {
      color: "is-dark",
      likes: []
    }
  },
  created() {
    this.color = utils_collection.arrayRandom(["is-dark", "is-link", "is-info", "is-success", "is-warning"]);
    this.fetchLikes();
  },
  computed: {
    messageMarkdown() {
      return utils_misc.markdownToHtml(this.message.message);
    },
    formattedDate() {
      return utils_misc.formatDateTime(this.message.date);
    },
    hasUserLiked() {
      return this.$store.state.user && this.likes.some(like => like.studentId === this.$store.state.user.id);
    }
  },
  methods: {
    fetchLikes() {
      utils_network.apiGet(`/messageslikes/byid/${this.message.id}`).then(likes => {
        this.likes = likes;
      });
    },
    toggleLike() {
      if (this.$store.state.user) {
        if (this.hasUserLiked) {
          utils_network.apiDelete('/messageslikes', { messageId: this.message.id })
            .then(() => this.fetchLikes());
        } else {
          utils_network.apiPost('/messageslikes', { messageId: this.message.id })
              .then(() => this.fetchLikes());
        }
      }
    },
    onReport() {
      alert("Report comment (to be implemented)");
    }
  }
}
</script>

<style scoped>
  .discrete {
    font-size: small;
    font-style: italic;
  }
</style>
