<template>
  <article class="message">
    <div class="message-body pb-3">
      <b-skeleton></b-skeleton>
      <b-skeleton></b-skeleton>
      <div class="level mt-5">
        <div class="level-left">
          <b-skeleton width="15rem"></b-skeleton>
        </div>
        <div class="level-right">
          <b-skeleton width="10rem"></b-skeleton>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
	name: 'MessageSkeleton'
}
</script>
