<template>
  <div class="container">
    <h1 class="title mt-3">Chat with us!</h1>
    <!----- RESUME AUTO-SCROLL BUTTON ----->
    <div class="level mb-1">
      <div class="level-left"></div>
      <div class="level-right">
        <b-checkbox v-model="autoScrolling" @click.native="clickedAutoScrollButton()">Auto-scrolling</b-checkbox>
      </div>
    </div>
    <!----- CHAT MESSAGES ----->
    <div id="chat" @scroll="onScroll()">
      <div v-if="chatMessages.length === 0" class="has-text-centered">
        <strong>The chat has been quiet for a while... Say hi!</strong>
      </div>
      <div v-else>
        <div v-for="chatMessage of chatMessages" :key="chatMessage.id">
          ({{ formatTime(chatMessage.date) }})
          <strong><clickeable-student-name
              :student-id="chatMessage.studentId"
              :student-first-name="chatMessage.studentFirstName"
              :student-last-name="chatMessage.studentLastName"
          ></clickeable-student-name>:</strong>
          {{ chatMessage.message }}
          <b-tooltip label="Report message" class="is-pulled-right" position="is-left" style="cursor: pointer;">
            <b-icon size="is-small" pack="far" icon="flag" @click.native="onReport"></b-icon>
          </b-tooltip>
        </div>
      </div>
    </div>
    <!----- SEND MESSAGE ----->
    <div v-if="$store.state.user">
      <b-input placeholder="Write a message and press 'Enter' to send it!" v-model="writingChat" @keyup.native="pressedKey"></b-input>
    </div>
    <div v-else>
      <b-input disabled placeholder="Sign up or login to chat with other visitors."></b-input>
    </div>
  </div>
</template>

<script>
import dayjs from "dayjs";
import utils_network from "@/utils/utils_network";
import utils_misc from "@/utils/utils_misc";
import ClickeableStudentName from "@/components/account/ClickeableStudentName";

export default {
	name: 'TabChat',
	components: {ClickeableStudentName},
  data() {
    return {
      intervalId: -1,
      isFetching: false,
      lastFetchDate: dayjs().subtract(24, 'hours').valueOf(),
      chatMessages: [],
      autoScrolling: true,
      lastSystemScroll: 0,
      writingChat: null
    }
  },
  created() {
    this.fetchMessages();
    this.intervalId = setInterval(() => {
      this.fetchMessages();
    }, 500);
  },
  destroyed() {
    if (this.intervalId !== -1) {
      clearInterval(this.intervalId);
      this.intervalId = -1;
    }
  },
  methods: {
    fetchMessages() {
      if (!this.isFetching) {
        this.isFetching = true;
        let now = dayjs().valueOf();
        utils_network.apiGet(`/chat/${this.lastFetchDate}/${now}`).then(messages => {
          for (let message of messages) {
            this.chatMessages.push(message);
          }
          this.lastFetchDate = now;
          this.isFetching = false;

          setTimeout(() => {
            if (messages.length > 0) {
              this.autoScroll();
            }
          }, 100);
        });
      }
    },
    autoScroll() {
      let now = dayjs().valueOf();
      if (this.autoScrolling && now - this.lastSystemScroll > 500) {
        this.lastSystemScroll = now;
        let chat = document.getElementById("chat");
        chat.scrollTop = chat.scrollHeight;
      }
    },
    onScroll() {
      if (dayjs().valueOf() - this.lastSystemScroll > 500) {
        this.autoScrolling = false;
      }
    },
    clickedAutoScrollButton() {
      let value = !this.autoScrolling;
      if (value) {
        this.autoScrolling = value;
        this.autoScroll();
        setTimeout(() => {
          this.autoScrolling = true;
        }, 100);
      }
    },
    pressedKey(event) {
      if (event.code === 'Enter' && this.writingChat && this.writingChat.trim()) {
        utils_network.apiPost("/chat", { message: this.writingChat })
            .then(() => {
              this.lastSystemScroll = 0;
              this.fetchMessages();
            });
        this.writingChat = null;
      }
    },
    formatTime(chatMessage) {
      return utils_misc.formatTime(chatMessage);
    },
    onReport() {
      alert("Report message (to be implemented)");
    }
  }
}
</script>

<style scoped>
  #chat {
    border: 1px solid #D70A26;
    padding: 0.5rem;
    min-height: 5rem;
    max-height: 20rem;
    overflow-y: auto;
  }
</style>
