<template>
  <div class="container">
    <!----- INTRODUCTION TO CLUBS ----->
    <h1 class="title mt-3">Clubs at Staffordshire University</h1>
    <div v-for="(line, i) in aboutClubsTextLines" :key="i">
      <p class="has-text-justified">{{ line }}</p>
      <br v-if="i + 1 !== aboutClubsTextLines.length" />
    </div>
      <!----- CLUB LIST ----->
    <h1 class="title mt-3">So, which one?</h1>
    <group-list group-type="CLUB"></group-list>
  </div>
</template>

<script>
import GroupList from "@/components/groups/GroupList";

export default {
	name: 'TabClubs',
	components: { GroupList },
  data() {
    return {
      aboutClubsTextLines:
          `Studying in university already makes it hard to manage your budget, adding a crazy amount to a gym membership might not be prioritised in your list. So why not join the sports club instead? This way you can not only get fit but reduce stress and make new friends while you are working on your wellness! 	
        `.split('\n')
    }
  }
}
</script>
