<template>
  <div class="container">
    <b-carousel v-model="carouselIndex" :interval="3000" animated="slide"
                progress autoplay repeat pause-hover
                indicator-style="is-lines"
    >
      <b-carousel-item v-for="(carouselImage, i) in carouselImages" :key="i" class="p-0 m-0">
        <b-image :src="carouselImage" class="m-0 p-0"></b-image>
      </b-carousel-item>
    </b-carousel>
  </div>
</template>

<script>
export default {
	name: 'TabHome',
	components: {},
  data() {
    return {
      carouselIndex: 0,
      carouselImages: [
        require("@/assets/homepage_carousel/1.jpg"),
        require("@/assets/homepage_carousel/2.jpg"),
        require("@/assets/homepage_carousel/3.jpg")
      ]
    }
  }
}
</script>

<style lang="scss">
  $primary: #D70A26;
  $carousel-indicator-color: #D70A26;
  $carousel-arrow-color: #D70A26;

  @import "~bulma/bulma";
  @import "~buefy/src/scss/buefy";
</style>
