<template>
  <div class="container">
    <h1 class="title mt-3">News & events</h1>
    <publication-list></publication-list>
  </div>
</template>

<script>
import PublicationList from "@/components/publications/PublicationList";

export default {
	name: 'TabPublications',
	components: { PublicationList }
}
</script>
