<template>
  <div class="container">
    <!----- INTRODUCTION TO SOCIETIES ----->
    <h1 class="title mt-3">Societies at Staffordshire University</h1>
    <div v-for="(line, i) in aboutSocietiesTextLines" :key="i">
      <p class="has-text-justified">{{ line }}</p>
      <br v-if="i + 1 !== aboutSocietiesTextLines.length" />
    </div>
    <!----- SOCIETY LIST ----->
    <h1 class="title mt-3">So, which one?</h1>
    <group-list group-type="SOCIETY"></group-list>
  </div>
</template>

<script>
import GroupList from "@/components/groups/GroupList";

export default {
	name: 'TabSocieties',
	components: { GroupList },
  data() {
    return {
      aboutSocietiesTextLines:
          `When you become an active member of society, you will come across peers that have the same interests as you. And what a great place to network and create new bonds. You learn something new with a bunch of friends and have the time of your life, this is a significant reason why you should join at least one society !
        `.split('\n')
    }
  }
}
</script>
