<template>
  <div class="container">
    <!----- LOADED DATA ----->
    <div v-if="isLoaded">
      <h1 class="title mt-3">{{ student.firstName }} {{ student.lastName }}</h1>
      <!----- GENERAL INFORMATION ----->
      <p>
        <b-icon icon="clock"></b-icon>
        Account created on <strong>{{ accountCreationDateFormatted }}</strong>
      </p>
      <p>
        <b-icon icon="thumbs-up"></b-icon>
        Has received <strong>{{ receivedLikes.length }} like{{ receivedLikes.length > 1 ? 's' : '' }}</strong>
      </p>
      <!----- JOINED GROUPS ----->
      <div v-if="groups.length > 0" class="mt-6">
        <h1 class="subtitle mt-3">They're a member of the following group{{ groups.length > 1 ? 's' : '' }} :</h1>
        <group v-for="group of groups" :key="group.id" :group="group" class="mr-3 mb-3"></group>
      </div>
    </div>
      <!----- STILL LOADING ----->
    <div v-else>
      Loading...
    </div>
  </div>
</template>

<script>
import Group from "@/components/groups/Group";
import utils_misc from "@/utils/utils_misc";
import utils_network from "@/utils/utils_network";

export default {
	name: 'TabStudentPage',
	components: { Group },
  data() {
    return {
      isLoaded: false,
      student: [],
      groups: [],
      receivedLikes: []
    }
  },
  created() {
    this.fetchData();
  },
  watch: {
    '$route.params'(curr, prev) {
      if (prev.studentId !== curr.studentId) {
        this.isLoaded = false;
        this.fetchData();
      }
    }
  },
  computed: {
    accountCreationDateFormatted() {
      return utils_misc.formatDateTime(this.student.accountCreationDate);
    }
  },
  methods: {
    fetchData() {
      let studentId = parseInt(this.$route.params.studentId);
      if (studentId >= 0) {
        utils_network.apiGet(`/students/byid/${studentId}`).then(student => {
          this.student = student;
          utils_network.apiGet(`/groups/withmember/${studentId}`).then(groups => {
            this.groups = groups;
            utils_network.apiGet(`/messageslikes/received/bystudent/${studentId}`).then(receivedLikes => {
              this.receivedLikes = receivedLikes;
              this.isLoaded = true;
            });
          });
        });
      }
    }
  }
}
</script>
