<template>
  <div class="container">
    <h1 class="title mt-3">Why should you join ?</h1>
    <div v-for="(line, i) in whyJoinTextLines" :key="i">
      <p class="has-text-justified">{{ line }}</p>
      <br v-if="i + 1 !== whyJoinTextLines.length" />
    </div>
  </div>
</template>

<script>
export default {
	name: 'TabWhyJoin',
	components: {},
  data() {
    return {
      whyJoinTextLines:
        `Don’t rule out joining a sport club or a society at university. Not only are there a vast array of possibility, but there are also a wide range of ability levels, catering for everyone from the most sociable people to the complete new students to discover. 
	 If you do find a club and a society that suits you, here are some of the ways it will improve your university experience. It’s The Best Place Where You Can Meet People Like You! Best Way To Travel Cheap! Follow Your Passions! Amplify Your CV through new experiences!
	 The benefits of joining a student club/society are countless, and above all, it’s easy to join and become a part of one. 
	 Remember that you are a student of that university and your peers are too. As such by joining, you can pretty much get the best accommodating work-life experience you could think of. 
        `.split('\n')
    }
  }
}
</script>
