$primary: #D70A26;

$tabs-link-color: black;
$tabs-link-active-color: black;
$tabs-link-hover-color: $primary;

@import "~bulma/bulma";

.tabs.is-boxed {
  padding: 0;
  margin: 0;
}

.b-tabs .tab-content {
  padding: 1rem 1rem;
  margin: 0;
}

div.navbar-menu.is-active {
  background-color: #BE1C1C;
}

.navbar-brand {
  height: 6rem;
}

.navbar-brand a.navbar-item {
  padding: 0;
}

.navbar-brand a.navbar-item img {
  width: auto;
  max-width: 150rem;
  height: 4rem;
  max-height: 4rem;
}
