<template>
  <span style="cursor: pointer; text-decoration: underline;"
        @click="routeToStudentPage()">{{ studentFirstName }} {{ studentLastName }}</span>
</template>

<script>
export default {
	name: 'ClickeableStudentName',
  props: {
    studentId: Number,
    studentFirstName: String,
    studentLastName: String
  },
  methods: {
    routeToStudentPage() {
      let route = `/student/${this.studentId}`;
      if (this.$route.path !== route) {
        this.$router.push(route);
      }
    }
  }
}
</script>
