<template>
	<div class='modal-card' style='width: auto'>
		<!--------------------------- HEADER -------------------------------->
		<div class='modal-card-head'>
			<p class='modal-card-title'>Login</p>
		</div>
		<!--------------------------- BODY -------------------------------->
		<div class='modal-card-body'>
			<b-field label='E-mail'>
				<b-input type='text' v-model='email' placeholder='E-mail' required
                 pattern="[a-zA-Z0-9._]*@student\.staffs\.ac\.uk"
                 validation-message="Please enter a valid student e-mail."
        />
			</b-field>
			<b-field label='Password'>
				<b-input type='password' v-model='password' password-reveal placeholder='Password' required />
			</b-field>
		</div>
		<!--------------------------- BUTTONS -------------------------------->
		<div class='modal-card-foot'>
			<b-button @click="$emit('close')">Close</b-button>
			<b-button class='is-primary' :disabled='!canSubmit()' @click="submit()">Login</b-button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ModalLogin',
	data() {
		return {
      email: null,
			password: null
		}
	},
	methods: {
		canSubmit() {
			return this.email && this.password
          && /[a-zA-Z0-9._]*@student\.staffs\.ac\.uk/.test(this.email);
		},
		submit() {
			if (this.canSubmit()) {
				let args = {
					'email': this.email.trim().toLowerCase(),
					'password': this.password,
					'description': window.navigator.userAgent
				};
				this.$store.dispatch('attemptLoginFromCredentials', args);
				this.$emit('close');
			}
		}
	}
}
</script>
