<template>
	<div class='modal-card' style='width: auto'>
		<!--------------------------- HEADER -------------------------------->
		<div class='modal-card-head'>
			<p class='modal-card-title'>Sign up</p>
		</div>
		<!--------------------------- BODY -------------------------------->
		<div class='modal-card-body'>
      <b-field label='First name'>
        <b-input type='text' v-model='firstName' placeholder='First name' required />
      </b-field>
      <b-field label='Last name'>
        <b-input type='text' v-model='lastName' placeholder='Last name' required />
      </b-field>
      <b-field label='E-mail'>
        <b-input type='text' v-model='email' placeholder='E-mail' required
                 pattern="[a-zA-Z0-9._]*@student\.staffs\.ac\.uk"
                 validation-message="Please enter a valid student e-mail."
        />
      </b-field>
			<b-field label='Password'>
				<b-input type='password' v-model='password' password-reveal placeholder='Password' required />
			</b-field>
		</div>
		<!--------------------------- BUTTONS -------------------------------->
		<div class='modal-card-foot'>
			<b-button @click="$emit('close')">Close</b-button>
			<b-button class='is-primary' :disabled='!canSubmit()' @click="submit()">Sign up</b-button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'ModalSignup',
	data() {
		return {
      firstName: null,
      lastName: null,
      email: null,
			password: null
		}
	},
	methods: {
		canSubmit() {
			return this.firstName && this.lastName && this.email && this.password
          && /[a-zA-Z0-9._]*@student\.staffs\.ac\.uk/.test(this.email);
		},
		submit() {
			if (this.canSubmit()) {
				let args = {
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          password: this.password,
				};
				this.$store.dispatch('attemptSignup', args)
					.then(() => {
            let args = {
              'email': this.email,
              'password': this.password,
              'description': window.navigator.userAgent
            };
            this.$store.dispatch('attemptLoginFromCredentials', args);
					});
				this.$emit('close');
			}
		}
	}
}
</script>
