<template>
	<body>
		<navbar class="px-6"></navbar>
		<main class="mt-2">
      <router-view></router-view>
		</main>
    <bottom></bottom>
	</body>
</template>

<script>
import Navbar from '@/components/Navbar'
import Bottom from '@/components/Bottom'
import Popups from '@/mixins/Popups'

export default {
	name: 'App',
	components: { Navbar, Bottom },
	mixins: [Popups]
}
</script>

<style lang="scss" scoped>
body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.bottom {
  margin-top: auto;
}
</style>
