<template>
  <div class="bottom">
    <div class="level">
      <div class="level-left ml-6">
        <a href="https://www.staffs.ac.uk/">About Staffs</a>
      </div>
      <div class="level-item">
        Connect with us on
        <b-icon v-for="social of socials" :key="social.icon"
                size="is-medium" pack="fab" :icon="social.icon"
                @click.native="social.onclick()"
        ></b-icon>
      </div>
      <div class="level-right mr-6">
        <p>© Student Corner, 2022</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Bottom',
  data() {
    return {
      socials: [
        { icon: "facebook", onclick: () => window.open("https://www.facebook.com/staffsuni") },
        { icon: "instagram", onclick: () => window.open("https://www.instagram.com/staffsuni") },
        { icon: "twitter", onclick: () => window.open("https://twitter.com/staffsuni") },
        { icon: "youtube", onclick: () => window.open("https://www.youtube.com/c/staffordshireuniversity") },
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  $primary: #D70A26;
  $link: $primary;

  @import "~bulma/bulma";

  .bottom {
    background-color: #ececec;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  a {
    font-weight: bold;
    text-decoration: underline;
  }

  .icon {
    cursor: pointer;
  }
</style>
