<template>
	<b-navbar shadow centered>
		<!--------------------------- BRANDING (LEFT) -------------------------------->
		<template #brand>
			<b-navbar-item style="cursor: auto">
				<img src='~@/assets/logo.png' />
			</b-navbar-item>
		</template>
		<!--------------------------- TABS/ROUTE (LEFT) -------------------------------->
		<template #start>
      <div class="rows">
        <div class="row is-full studentcorner">
          STUDENT CORNER
        </div>
        <div class="row is-full">
          <div style="display: flex;">
            <b-navbar-item
                v-for="tab of $store.state.tabs"
                :key="tab.key"
                tag="router-link"
                :to="{ path: tab.route }"
                :class="tabClass(tab)"
            >
              <b-icon :icon='tab.icon'></b-icon>
              <p class="mr-2">{{ tab.label }}</p>
            </b-navbar-item>
          </div>
        </div>
      </div>
		</template>
		<!--------------------------- MENU (RIGHT) -------------------------------->
		<template #end>
			<b-navbar-item tag='div'>
				<!--------------------------- BUTTONS -------------------------------->
				<b-button v-if="!$store.state.user" class="is-dark" @click='openSignup'>Sign up</b-button>
				<b-button v-if="!$store.state.user" class="is-dark ml-1" @click='openLogin'>Login</b-button>
				<!--------------------------- CONNECTED AS -------------------------------->
        <div v-if="$store.state.user" style="display: block;">
          <clickeable-student-name
              :student-id="$store.state.user.id"
              :student-first-name="$store.state.user.firstName"
              :student-last-name="$store.state.user.lastName"
              class="has-text-dark"
          ></clickeable-student-name>
          <br />
          <b-button class="is-dark ml-1 is-pulled-right" @click="$store.dispatch('attemptLogout')">Logout</b-button>
        </div>
			</b-navbar-item>
		</template>
	</b-navbar>
</template>

<script>
import Popups from '@/mixins/Popups'
import ClickeableStudentName from "@/components/account/ClickeableStudentName";

export default {
	name: 'Navbar',
  components: {ClickeableStudentName},
  mixins: [Popups],
	methods: {
		tabClass(tab) {
			return this.$route.fullPath === tab.route ? 'tab activetab' : 'tab';
		}
	}
}
</script>

<style lang="scss" scoped>
  $navbar-height: 6rem;
  $navbar-background-color: #BE1C1C;

  $navbar-item-color: white;
  $navbar-item-hover-color: transparentize(black, 0.5);

  $navbar-dropdown-background-color: white;
  $navbar-dropdown-item-hover-color: transparentize(black, 0.5);
  $navbar-dropdown-item-hover-background-color: transparentize(black, 0.5);

  $button-text-color: white;
  $button-border-radius: 0;
  $button-padding-horizontal: 0.3em;
  $button-padding-vertical: 0.1em;

  @import "~bulma/bulma";

  .studentcorner {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 0.5rem;
  }

  .tab {
    cursor: pointer;
    padding: 0.2rem;
    margin: 0.3rem;
  }
  .activetab p {
    text-decoration: underline;
  }

  .button {  // bulma doesn't handle well the altering of vertical padding
    height: auto;
  }
</style>
