<template>
	<div class='modal-card' style='width: auto'>
		<!--------------------------- HEADER -------------------------------->
		<div class='modal-card-head' style="display: block;">
			<p class='modal-card-title'>Create publication</p>
      <p class='mt-3'>for {{ group.name }}</p>
		</div>
		<!--------------------------- BODY -------------------------------->
		<div class='modal-card-body'>
      <b-field label='Title'>
        <b-input type='text' v-model='title' placeholder='Breaking news!' required />
      </b-field>
      <b-field label='Message'>
        <b-input type='textarea' rows="5" v-model='message' placeholder='Content goes here...' required />
      </b-field>
		</div>
		<!--------------------------- BUTTONS -------------------------------->
		<div class='modal-card-foot'>
			<b-button @click="$emit('close')">Cancel</b-button>
			<b-button class='is-primary' :disabled='!canSubmit()' @click="submit()">Post</b-button>
		</div>
	</div>
</template>

<script>
import utils_network from "@/utils/utils_network";

export default {
	name: 'ModalCreatePublication',
  props: {
    group: Object
  },
	data() {
		return {
      title: null,
      message: null
		}
	},
	methods: {
		canSubmit() {
			return this.title && this.title.trim() && this.message && this.message.trim();
		},
		submit() {
			if (this.canSubmit()) {
				let args = {
          groupId: this.group.id,
          title: this.title,
          message: this.message
				};
        utils_network.apiPost('/publications', args).then(() => {
          this.$store.commit('addCreatedPublication');
        });
				this.$emit('close');
			}
		}
	}
}
</script>
