<template>
  <article :class="'message ' + color">
    <div class="message-header">
      <p>{{ publication.title }}</p>
      <p class="discrete">{{ publication.groupName }}</p>
    </div>
    <div class="message-body pb-3">
      <div class="content">
        <p v-html="messageMarkdown"></p>
      </div>
      <div class="level mt-5">
        <div class="level-left">
          <p class="discrete">{{ formattedDate }}</p>
        </div>
        <div class="level-right" style="display: block">
          <p class="discrete">Posted by
            <strong><clickeable-student-name
                :student-id="publication.studentId"
                :student-first-name="publication.studentFirstName"
                :student-last-name="publication.studentLastName"
            ></clickeable-student-name></strong>
          </p>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
import utils_misc from "@/utils/utils_misc";
import utils_collection from "@/utils/utils_collection";
import ClickeableStudentName from "@/components/account/ClickeableStudentName";

export default {
	name: 'Publication',
  components: {ClickeableStudentName},
  props: {
    publication: Object
  },
  data() {
    return {
      color: "is-dark"
    }
  },
  mounted() {
    this.color = utils_collection.arrayRandom(["is-dark", "is-link", "is-info", "is-success", "is-warning"]);
  },
  computed: {
    messageMarkdown() {
      return utils_misc.markdownToHtml(this.publication.message);
    },
    formattedDate() {
      return utils_misc.formatDateTime(this.publication.date);
    }
  }
}
</script>

<style scoped>
  .discrete {
    font-size: small;
    font-style: italic;
  }
</style>
