<template>
  <!----- IS LOADED : DISPLAY CLUBS ----->
  <section class="container" v-if="isLoaded">
    <publication v-for="publication of publications" :key="publication.id"
                 :publication="publication"
                 class="mb-3"
    ></publication>
    <br />
  </section>
  <!----- NOT YET LOADED ----->
  <section class="container" v-else>
    <publication-skeleton></publication-skeleton>
    <publication-skeleton></publication-skeleton>
    <publication-skeleton></publication-skeleton>
    <publication-skeleton></publication-skeleton>
    <br />
  </section>
</template>

<script>
import Publication from "@/components/publications/Publication";
import utils_network from "@/utils/utils_network";
import PublicationSkeleton from "@/components/publications/PublicationSkeleton";

export default {
	name: 'PublicationList',
	components: { Publication, PublicationSkeleton },
  props: {
    groupId: Number
  },
  data() {
    return {
      isLoaded: false,
      publications: []
    }
  },
  created() {
    this.fetchPublications();
  },
  watch: {
    '$store.state.createdPublications'() {
      this.isLoaded = false;
      this.fetchPublications();
    }
  },
  methods: {
    fetchPublications() {
      let route = "/publications" + (this.groupId !== undefined && this.groupId > 0 ? "/bygroup/" + this.groupId : "");
      utils_network.apiGet(route).then(publications => {
        this.isLoaded = true;
        this.publications = publications;
      });
    }
  }
}
</script>
