<template>
  <div class="container">
    <!----- LOADED GROUP ----->
    <div v-if="isLoaded">
      <h1 class="title mt-3">{{ group.name }}</h1>
      <div class="columns">
        <!----- GROUP INFO AND JOIN BUTTON ----->
        <div class="column is-4 has-text-justified">
          <!----- LOGO AND DESCRIPTION ----->
          <b-image :src="'data:image/jpeg;charset=utf-8;base64,' + group.logo"
                   :alt="group.name"
                   class="mb-3"
          ></b-image>
          <div class="content">
            <p v-html="descriptionMarkdown"></p>
          </div>
          <!----- JOIN REQUEST ----->
          <div v-if="$store.state.user && !groupPermissions.isMember">
            <b-button v-if="!groupJoinRequest.exists"
                      @click="openGroupJoinRequest(group)"
                      type="is-danger" class="is-pulled-right"
            >Request to join</b-button>
            <b-button v-else
                      @click="cancelJoinRequest()"
                      type="is-primary is-light" class="is-pulled-right"
            >Cancel join request</b-button>
          </div>
        </div>
        <!----- GROUP SUBPAGE ----->
        <div class="column">
          <b-tabs v-model="activeTab" type="is-boxed" destroy-on-hide :animated="false">
            <!----- PUBLICATIONS ----->
            <b-tab-item label="News/Events" icon="newspaper">
              <div class="level mb-3" v-if="groupPermissions.canPostNews">
                <div class="level-left"></div>
                <div class="level-right">
                  <b-button @click="openCreatePublication(group)">Create publication</b-button>
                </div>
              </div>
              <publication-list :group-id="group.id" class="pageContents"></publication-list>
            </b-tab-item>
            <!----- PUBLIC GROUP MESSAGES ----->
            <b-tab-item label="Comments" icon="comments">
              <b-field class="level mb-3">
                <b-input expanded v-model="writingComment" :disabled="!$store.state.user"
                         type="textarea" rows="3" class="mr-3"
                         :placeholder="$store.state.user ? 'Write a comment to be posted here!' : 'Sign up or login to post a comment.'"
                ></b-input>
                <b-button :disabled="!canSendComment" @click="sendComment()">Send</b-button>
              </b-field>
              <message-list :group-id="group.id" message-type="PUBLIC"
                            class="pageContents" :key="commentsListKey"
              ></message-list>
            </b-tab-item>
            <!----- PRIVATE GROUP MESSAGES ----->
            <b-tab-item label="Members area" icon="user-check" v-if="groupPermissions.isMember">
              <b-field class="level mb-3">
                <b-input expanded v-model="writingMemberComment"
                         type="textarea" rows="3" class="mr-3"
                         placeholder="Write a comment to be posted here (only visible to other members)."
                ></b-input>
                <b-button :disabled="!canSendMemberComment" @click="sendMemberComment()">Send</b-button>
              </b-field>
              <message-list :group-id="group.id" message-type="PRIVATE"
                            class="pageContents" :key="memberCommentsListKey"
              ></message-list>
            </b-tab-item>
            <!----- EDIT MEMBERS ----->
            <b-tab-item label="Edit members" icon="user-edit" v-if="groupPermissions.canEditPermissions">
              <group-edit-members :group="group"></group-edit-members>
            </b-tab-item>
            <!----- JOIN REQUESTS ----->
            <b-tab-item label="Join requests" icon="user-check" v-if="groupPermissions.canEditPermissions">
              <group-join-requests :group="group"></group-join-requests>
            </b-tab-item>
          </b-tabs>
        </div>
      </div>
      <br />
    </div>
    <!----- NOT YET LOADED ----->
    <div v-else>
      <div class="my-3">
        <b-skeleton width="30rem" height="2.5rem"></b-skeleton>
      </div>
      <div class="columns">
        <div class="column is-4">
          <b-skeleton height="20rem" width="auto"></b-skeleton>
          <b-skeleton width="auto"></b-skeleton>
          <b-skeleton width="auto"></b-skeleton>
          <b-skeleton width="auto"></b-skeleton>
          <b-skeleton width="auto"></b-skeleton>
          <b-skeleton width="auto"></b-skeleton>
          <b-skeleton width="auto"></b-skeleton>
          <b-skeleton width="auto"></b-skeleton>
          <b-skeleton width="85%"></b-skeleton>
        </div>
        <!----- GROUP SUBPAGE ----->
        <div class="column">
          <b-tabs type="is-boxed">
            <b-tab-item disabled>
              <template #header><b-skeleton width="10rem" height="2rem"></b-skeleton></template>
              <publication-skeleton></publication-skeleton>
              <publication-skeleton></publication-skeleton>
              <publication-skeleton></publication-skeleton>
              <publication-skeleton></publication-skeleton>
            </b-tab-item>
            <b-tab-item disabled>
              <template #header><b-skeleton width="10rem" height="2rem"></b-skeleton></template>
            </b-tab-item>
            <b-tab-item disabled>
              <template #header><b-skeleton width="10rem" height="2rem"></b-skeleton></template>
            </b-tab-item>
          </b-tabs>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import utils_network from "@/utils/utils_network";
import utils_misc from "@/utils/utils_misc";
import PublicationList from "@/components/publications/PublicationList";
import MessageList from "@/components/messages/MessageList";
import PublicationSkeleton from "@/components/publications/PublicationSkeleton";
import Popups from "@/mixins/Popups";
import GroupEditMembers from "@/components/groups/GroupEditMembers";
import GroupJoinRequests from "@/components/groups/GroupJoinRequests";

export default {
	name: 'GroupPage',
  components: {GroupJoinRequests, GroupEditMembers, MessageList, PublicationList, PublicationSkeleton },
  mixins: [ Popups ],
  data() {
    return {
      isLoaded: false,
      blockSubpageLoading: false,
      group: {},
      groupPermissions: {},
      groupJoinRequest: {},
      activeTab: 0,
      tabRoutes: [ 'home',  'comments', 'membersarea', 'editmembers', 'joinrequests' ],
      writingComment: null,
      commentsListKey: 0,
      writingMemberComment: null,
      memberCommentsListKey: 0
    };
  },
  created() {
    this.fetchGroup();
    this.detectTabFromRoute();
    this.$watch(() => this.$route.params, (curr, prev) => {
      if (prev.groupId !== curr.groupId) {
        this.isLoaded = false;
        this.fetchGroup();
        this.detectTabFromRoute();
      } else if (prev.pageKey !== curr.pageKey) {
        this.detectTabFromRoute();
      }
    });
  },
  watch: {
    activeTab(newValue) {
      if (!this.blockSubpageLoading) {
        this.$router.push(this.$store.state.groupPageRoute
            .replace(':groupId', this.group.id)
            .replace(':pageKey', this.tabRoutes[newValue])
        );
      }
    },
    '$store.state.user'() {
      this.isLoaded = false;
      this.fetchGroup();
    },
    '$store.state.createdJoinRequest'() {
      this.isLoaded = false;
      this.fetchGroup();
    }
  },
  computed: {
    descriptionMarkdown() {
      return utils_misc.markdownToHtml(this.group.description);
    },
    canSendComment() {
      return this.writingComment && this.writingComment.trim();
    },
    canSendMemberComment() {
      return this.writingMemberComment && this.writingMemberComment.trim();
    }
  },
  methods: {
    detectTabFromRoute() {
      let index = this.tabRoutes.indexOf(this.$route.params.pageKey);
      if (index !== -1) {
        this.blockSubpageLoading = true;
        this.activeTab = index;
        setTimeout(() => this.blockSubpageLoading = false, 100);
      } else {
        this.activeTab = 0;
      }
    },
    fetchGroup() {
      utils_network.apiGet(`/groups/byid/${this.$route.params.groupId}`).then(group => {
        this.group = group;
        utils_network.apiGet(`/permissions/@me/bygroup/${group.id}`).then(groupPermissions => {
          this.groupPermissions = groupPermissions;
          utils_network.apiGet(`/joinrequests/@me/bygroup/${group.id}`).then(groupJoinRequest => {
            this.groupJoinRequest = groupJoinRequest;
            this.isLoaded = true;
          });
        });
      });
    },
    sendComment() {
      if (this.writingComment && this.writingComment.trim()) {
        this.sendMessage('PUBLIC', this.writingComment, () => {
          ++this.commentsListKey;
        });
        this.writingComment = null;
      }
    },
    sendMemberComment() {
      if (this.writingMemberComment && this.writingMemberComment.trim()) {
        this.sendMessage('PRIVATE', this.writingMemberComment, () => {
          ++this.memberCommentsListKey;
        });
        this.writingMemberComment = null;
      }
    },
    sendMessage(type, message, callback) {
      utils_network.apiPost("/messages", { type, message, groupId: this.group.id })
          .then(callback);
    },
    cancelJoinRequest() {
      utils_network.apiDelete("/joinrequests/@me", { groupId: this.group.id })
          .then(() => {
            this.groupJoinRequest = { exists: false };
          });
    }
  }
}
</script>

<style scoped>
  .pageContents {
    max-height: 50rem;
    overflow-y: auto;
  }
</style>
