<template>
  <!----- IS LOADED : DISPLAY STUDENTS ----->
  <section class="container" v-if="isLoaded">
    <div v-for="studReq of filteredStudentsWithJoinRequests" :key="studReq.id" class="mb-3">
      <div class="columns is-12">
        <div class="column has-text-justified">
          <strong><clickeable-student-name
              :student-id="studReq.id"
              :student-first-name="studReq.firstName"
              :student-last-name="studReq.lastName"
          ></clickeable-student-name></strong>
          <div class="content">
            <div v-html="motivationMarkdown(studReq)"></div>
          </div>
        </div>
        <div class="column is-4">
          <b-button type="is-success" @click="approve(studReq)">Approve</b-button>
          <b-button type="is-danger ml-3" @click="refuse(studReq)">Refuse</b-button>
        </div>
      </div>
    </div>
    <br />
  </section>
  <!----- NOT YET LOADED ----->
  <section class="container" v-else>
    <div v-for="id of [1, 2, 3, 4, 5, 6]" :key="id" class="mb-3">
      <div class="level">
        <div class="level-left">
          <b-skeleton width="15rem" height="1.2rem"></b-skeleton>
        </div>
        <div class="level-right">
          <b-skeleton width="5rem" height="1.5rem"></b-skeleton>
        </div>
      </div>
    </div>
    <br />
  </section>
</template>

<script>
import utils_network from "@/utils/utils_network";
import utils_misc from "@/utils/utils_misc";
import ClickeableStudentName from "@/components/account/ClickeableStudentName";

export default {
	name: 'GroupJoinRequests',
	components: {ClickeableStudentName},
  props: {
    group: Object
  },
  data() {
    return {
      isLoaded: false,
      studentsWithJoinRequests: []
    }
  },
  created() {
    this.fetchStudents();
  },
  computed: {
    filteredStudentsWithJoinRequests() {
      return this.studentsWithJoinRequests.filter(studReq => studReq.id !== this.$store.state.user?.id && studReq.exists);
    }
  },
  methods: {
    fetchStudents() {
      utils_network.apiGet(`/students/withjoinrequests/bygroup/${this.group.id}`).then(studentsWithJoinRequests => {
        this.isLoaded = true;
        this.studentsWithJoinRequests = studentsWithJoinRequests;
      });
    },
    motivationMarkdown(studReq) {
      return utils_misc.markdownToHtml(studReq.motivation);
    },
    approve(studReq) {
      let body = {
        studentId: studReq.id,
        groupId: this.group.id,
        isMember: true,
        canPostNews: false,
        canEditPermissions: false
      };
      utils_network.apiPatch("/permissions", body).then(() => {
        let body = {
          groupId: this.group.id,
          studentId: studReq.id
        };
        utils_network.apiDelete("/joinrequests", body).then(() => {
          this.isLoaded = false;
          this.fetchStudents();
        });
      });
    },
    refuse(studReq) {
      let body = {
        groupId: this.group.id,
        studentId: studReq.id
      };
      utils_network.apiDelete("/joinrequests", body).then(() => {
        this.isLoaded = false;
        this.fetchStudents();
      });
    }
  }
}
</script>
