<template>
  <!----- IS LOADED : DISPLAY STUDENTS ----->
  <section class="container" v-if="isLoaded">
    <div v-for="studPerms of filteredStudentsWithpermissions" :key="studPerms.id" class="mb-3">
      <div class="level">
        <div class="level-left">
          <strong><clickeable-student-name
              :student-id="studPerms.id"
              :student-first-name="studPerms.firstName"
              :student-last-name="studPerms.lastName"
          ></clickeable-student-name></strong>
        </div>
        <div class="level-right">
          <b-checkbox v-model="studPerms.isMember" @input="updatePermissions(studPerms)">Member</b-checkbox>
          <b-checkbox v-model="studPerms.canPostNews" @input="updatePermissions(studPerms)">Can create publications</b-checkbox>
          <b-checkbox v-model="studPerms.canEditPermissions" @input="updatePermissions(studPerms)">Can edit permissions</b-checkbox>
        </div>
      </div>
    </div>
    <br />
  </section>
  <!----- NOT YET LOADED ----->
  <section class="container" v-else>
    <div v-for="id of [1, 2, 3, 4, 5, 6]" :key="id" class="mb-3">
      <div class="level">
        <div class="level-left">
          <b-skeleton width="15rem" height="1.2rem"></b-skeleton>
        </div>
        <div class="level-right">
          <b-skeleton width="5rem" height="1.5rem"></b-skeleton>
          <span class="ml-1"></span>
          <b-skeleton width="10rem" height="1.5rem"></b-skeleton>
          <span class="ml-1"></span>
          <b-skeleton width="10rem" height="1.5rem"></b-skeleton>
        </div>
      </div>
    </div>
    <br />
  </section>
</template>

<script>
import utils_network from "@/utils/utils_network";
import ClickeableStudentName from "@/components/account/ClickeableStudentName";

export default {
	name: 'GroupEditMembers',
	components: {ClickeableStudentName},
  props: {
    group: Object
  },
  data() {
    return {
      isLoaded: false,
      studentsWithPermissions: []
    }
  },
  created() {
    this.fetchStudents();
  },
  computed: {
    filteredStudentsWithpermissions() {
      return this.studentsWithPermissions.filter(studPerms => studPerms.id !== this.$store.state.user?.id);
    }
  },
  methods: {
    fetchStudents() {
      utils_network.apiGet(`/students/withpermissions/bygroup/${this.group.id}`).then(studentsWithPermissions => {
        this.isLoaded = true;
        this.studentsWithPermissions = studentsWithPermissions;
      });
    },
    updatePermissions(studPerms) {
      let body = {
        studentId: studPerms.id,
        groupId: this.group.id,
        isMember: studPerms.isMember,
        canPostNews: studPerms.canPostNews,
        canEditPermissions: studPerms.canEditPermissions
      };
      utils_network.apiPatch('/permissions', body);
    }
  }
}
</script>
