<template>
  <!----- IS LOADED : DISPLAY CLUBS ----->
  <section class="container" v-if="isLoaded">
    <group v-for="group of groups" :key="group.id" :group="group" class="mr-3 mb-3"></group>
  </section>
  <!----- NOT YET LOADED ----->
  <section class="container" v-else>
    <group-skeleton class="mr-3 mb-3"></group-skeleton>
    <group-skeleton class="mr-3 mb-3"></group-skeleton>
    <group-skeleton class="mr-3 mb-3"></group-skeleton>
    <group-skeleton class="mr-3 mb-3"></group-skeleton>
    <group-skeleton class="mr-3 mb-3"></group-skeleton>
    <group-skeleton class="mr-3 mb-3"></group-skeleton>
    <group-skeleton class="mr-3 mb-3"></group-skeleton>
    <group-skeleton class="mr-3 mb-3"></group-skeleton>
  </section>
</template>

<script>
import Group from "@/components/groups/Group";
import GroupSkeleton from "@/components/groups/GroupSkeleton";
import utils_network from "@/utils/utils_network";

export default {
	name: 'GroupList',
  props: {
    groupType: String
  },
	components: { Group, GroupSkeleton },
  data() {
    return {
      isLoaded: false,
      groups: []
    }
  },
  created() {
    utils_network.apiGet("/groups/bytype/" + this.groupType).then(groups => {
      this.isLoaded = true;
      this.groups = groups;
    });
  }
}
</script>

<style scoped>
  section {
    display: flex;
    flex-wrap: wrap;
  }
</style>
