<template>
  <article>
    <b-skeleton width="7rem" height="7rem"></b-skeleton>
    <div class="ml-3">
      <b-skeleton width="10rem"></b-skeleton>
      <b-skeleton width="13rem"></b-skeleton>
      <b-skeleton width="13rem"></b-skeleton>
      <b-skeleton width="13rem"></b-skeleton>
    </div>
  </article>
</template>

<script>
export default {
	name: 'GroupSkeleton'
}
</script>

<style lang="scss" scoped>
  article {
    max-width: 21rem;
    display: flex;
  }
</style>
