<template>
  <section>
    <article class="media" @click="openGroupPage()">
      <figure class="media-left">
        <b-image :src="'data:image/jpeg;charset=utf-8;base64,' + group.logo"
                 :alt="group.name"
        ></b-image>
      </figure>
      <div class="media-content">
        <div class="content">
          <strong>{{ group.name }}</strong>
          <br />
          <div class="content">
            <p v-html="pitchMarkdown"></p>
          </div>
        </div>
      </div>
    </article>
  </section>
</template>

<script>
import utils_misc from "@/utils/utils_misc";

export default {
	name: 'Group',
  props: {
    group: Object
  },
  computed: {
    pitchMarkdown() {
      return utils_misc.markdownToHtml(this.group.pitch);
    }
  },
  methods: {
    openGroupPage() {
      this.$router.push(this.$store.state.groupPageRoute
          .replace(':groupId', this.group.id)
          .replace(':pageKey', 'home')
      );
    }
  }
}
</script>

<style lang="scss" scoped>
  article {
    max-width: 21rem;
    cursor: pointer;
  }
  .image {
    max-width: 7rem;
  }
</style>
