<template>
	<div class='modal-card' style='width: auto'>
		<!--------------------------- HEADER -------------------------------->
		<div class='modal-card-head' style="display: block;">
			<p class='modal-card-title'>Request to join</p>
      <p class='mt-3'>for {{ group.name }}</p>
		</div>
		<!--------------------------- BODY -------------------------------->
		<div class='modal-card-body'>
      <b-field label='Motivation'>
        <b-input type='textarea' rows="5" v-model='motivation' placeholder='Why would you like to join us ?' required />
      </b-field>
		</div>
		<!--------------------------- BUTTONS -------------------------------->
		<div class='modal-card-foot'>
			<b-button @click="$emit('close')">Cancel</b-button>
			<b-button class='is-primary' :disabled='!canSubmit()' @click="submit()">Send request</b-button>
		</div>
	</div>
</template>

<script>
import utils_network from "@/utils/utils_network";

export default {
	name: 'ModalGroupJoinRequest',
  props: {
    group: Object
  },
	data() {
		return {
      motivation: null
		}
	},
	methods: {
		canSubmit() {
			return this.motivation && this.motivation.trim();
		},
		submit() {
			if (this.canSubmit()) {
				let args = {
          groupId: this.group.id,
          motivation: this.motivation
				};
        utils_network.apiPost('/joinrequests', args).then(() => {
          this.$store.commit('addCreatedJoinRequest');
        });
				this.$emit('close');
			}
		}
	}
}
</script>
